@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgba(240, 224, 224, 0.5882352941);
  font-family: "Work Sans", sans-serif;
}

header {
  padding: 20px;
  background-color: #e0ccbf;
}
header h1, header h2 {
  color: #4d3b3b;
  text-align: center;
  margin: 0;
}
header h1 {
  font-size: 2.5rem;
}
header h2 {
  font-size: 1.5rem;
  margin-top: 10px;
}
header .logo {
  text-align: center;
  padding: 10px;
}
header .logo img {
  border-radius: 30px;
  width: 150px;
}
header nav ul {
  list-style: none;
  text-align: center;
}
header nav ul li {
  display: inline-block;
  margin: 10px;
}
header nav ul li a {
  color: #4d3b3b;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 10px;
  background-color: #e0ccbf;
  border-radius: 10px;
}
header nav ul li a:hover {
  background-color: rgba(252, 166, 112, 0.8980392157);
  color: white;
}
@media (max-width: 768px) {
  header h1 {
    font-size: 1.8rem;
  }
  header h2 {
    font-size: 1.2rem;
  }
  header .logo img {
    width: 100px;
  }
  header nav ul li a {
    font-size: 1rem;
    padding: 8px;
  }
}

footer {
  background-color: #e0ccbf;
  color: #4d3b3b;
  padding: 20px;
  text-align: center;
}
footer h2 {
  text-align: center;
  font-size: 1.8rem;
  margin-bottom: 20px;
  color: #4d3b3b;
}
footer .d-flex {
  gap: 99px;
}
footer i {
  font-size: 60px;
  color: #383526;
  transition: color 0.3s ease;
}
footer a:hover i {
  background-color: rgba(252, 166, 112, 0.8980392157);
  color: white;
  text-decoration: none;
}
footer a {
  text-decoration: none;
}

.button {
  background-color: #e0ccbf;
  color: #4d3b3b;
  padding: 10px 20px;
  border-radius: 10px;
  text-transform: uppercase;
  font-weight: bold;
}
.button:hover {
  background-color: rgba(252, 166, 112, 0.8980392157);
  transition: background-color 0.3s;
}

.img-index {
  display: flex; /* Usar flexbox para centrar */
  justify-content: center; /* Centrado horizontal */
  margin: 20px auto; /* Espaciado alrededor */
}
.img-index img {
  max-width: 50%; /* Asegura que no supere el ancho del contenedor */
  height: auto; /* Mantiene la proporción */
  border-radius: 10px; /* Opcional: bordes redondeados */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Añadir sombra para destacar */
}

.img-perfil {
  display: flex; /* Usar flexbox para centrar */
  justify-content: center; /* Centrado horizontal */
  margin: 20px auto; /* Espaciado alrededor */
}
.img-perfil img {
  max-width: 40%; /* Asegura que no supere el ancho del contenedor */
  height: auto; /* Mantiene la proporción */
  border-radius: 10px; /* Opcional: bordes redondeados */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Añadir sombra para destacar */
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Ajusta las columnas automáticamente */
  gap: 20px; /* Espaciado entre imágenes */
  justify-items: center; /* Centra las imágenes horizontalmente */
  align-items: center; /* Centra las imágenes verticalmente */
}

.img-proyecto {
  width: 100%;
  height: 200px; /* Altura fija */
  object-fit: cover; /* Ajusta las imágenes sin deformarlas */
  border-radius: 8px; /* Opcional: bordes redondeados */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra sutil */
}

section {
  background-color: #e0ccbf; /* */
  padding: 20px;
  margin: 20px auto;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  color: #4d3b3b;
  text-align: justify;
}

section.principal {
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

h2.text-center {
  color: #4d3b3b;
  font-family: "Noto Sans", sans-serif;
  font-weight: 700;
  margin-bottom: 15px;
}

p.text-center {
  color: #4d3b3b;
  font-family: "Work Sans", sans-serif;
  font-size: 1.1rem;
  margin-bottom: 15px;
  line-height: 1.6;
}

.bienvenida {
  display: flex; /* Alinea los elementos en fila */
  justify-content: space-between; /* Espacio entre texto e imagen */
  align-items: center; /* Centra verticalmente */
}
.bienvenida .texto {
  flex: 1;
  padding: 10px; /* Espaciado alrededor del texto */
  text-align: left; /* Alinea el texto a la izquierda */
}
.bienvenida .imagen {
  flex: 1; /* La imagen también ocupa un espacio flexible */
  padding: 10px; /* Espaciado alrededor de la imagen */
  display: flex; /* Por si acaso la imagen necesita centrarse */
  justify-content: center;
}
.bienvenida .ilustraciones {
  max-width: 30%; /* Asegura que la imagen no sobresalga */
  height: auto; /* Mantén las proporciones */
}

@media (max-width: 768px) {
  .bienvenida {
    flex-direction: column; /* Cambia la dirección a columna */
    text-align: center; /* Centra el texto */
  }
  .imagen {
    margin-top: 20px; /* Agrega espacio entre el texto y la imagen */
  }
}
.container-404 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  background-color: rgba(240, 224, 224, 0.5882352941);
}
.container-404 h1 {
  font-size: 6rem;
  margin: 0;
  color: #e0ccbf;
}
.container-404 p {
  font-size: 1.5rem;
  color: #4d3b3b;
}
.container-404 .btn-404 {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: rgba(252, 166, 112, 0.8980392157);
  color: white;
  text-decoration: none;
  border-radius: 5px;
}
.container-404 .btn-404:hover {
  background-color: rgba(252, 166, 112, 0.8980392157);
}

/*# sourceMappingURL=style.css.map */
