// Variables para colores
$primary-color: #e0ccbf;
$secondary-color: #fca670e5;
$background-color: #f0e0e096;
$text-color: #4d3b3b;

// Fuentes
$main-font: "Work Sans", sans-serif;
$header-font: "Noto Sans", sans-serif;

// Tamaños
$border-radius: 10px;
$padding: 20px;
